body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #47a7ec;
}

.logo {
    margin-right: auto; /* Pushes the logo to the far left */
}
