* {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: "Outfit";
    margin-top: 10px;
    padding-top:5em;
    background-color: #fff;
}

/*Header*/
.header {
    background-color: #92cce4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position:fixed;
    height: 5em;
    top:0;
    width:100%;
    align-items: center;
    padding:  20px;

}

/* Nav Bar */
nav {
    display: flex;
}

nav a{
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #47a7ec;
}

.logo {
    margin-right: auto;
}

/* CSS for Contact Us Form */
.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #4d0071;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #4d0071;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: 1px solid #000000;
    outline: none;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #000000;
}

.contact-inputs::placeholder {
    color: #333333;
}

.contact-left button {
    position: relative;
    padding: 5px 25px;
    font-size: 14px; 
    border: 1px solid #002B5B;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.5s; 
    z-index: 1;
}

.contact-left button:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.contact-left button::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    border-radius: 15px;
    background-color: #4d0071;
    transition: width 0.5s, top 0.5s, left 0.5s; 
    z-index: -1;
}

.contact-left button:hover::after {
    top: 0%;
    left: 0%;
    width: 100%;
}

.contact-left button img {
    height: 15px; 
}

.contact-right img {
    max-width: 100%;
}

@media (max-width: 800px) {
    .contact-inputs {
        width: 100%;
    }
    .contact-right {
        display: none;
    }
}

/* Login/Sign Up */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 450px;
    margin: 0px 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;  
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    height: 35px;
    background: rgba(76, 68, 182, 0.808);  
    border: 0;
    width: 100%;  
    color: #fff; 
    cursor: pointer;  
    font-size: 15px;
    transition:all .3s;
    margin: top 10px;
    padding: 0px 10px;
}

.btn:hover {
    background: rgba(76, 68, 182, 1); 
}

.submit{
    width:100%;

}

.links{
    margin-bottom: 15px;
}